* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

section#home_principal {
    background-color: orangered;
    height: 100vh;
    overflow-y: hidden;
}

/* ASIDE */

#home_principal .aside {
    background-color: black;
    height: 90vh;
}

.box_logo {
    display: block;
    margin: 30px 0px 0px 10px;
}

.box_logo .imagem_logo_aside {
    width: 150px;
}

.box_lista {
    margin: 15px 10px 0px 10px;
}

.box_lista ul li {
    padding: 10px 0px;
}

.box_lista ul li a {
    font-weight: 900;
    color: #cccccc;
}

.box_imagem .imagem_rock_ira {
    width: 350px;
    height: 300px;
}

.link_menu_topo:hover {
    color: white;
}

.box_lista_parte02 {
    margin-top: 30px;
}

.icon_add_aside {
    color: #696969;
    padding: 1px;
    border-radius: 3px;
    background-color: #cccccc;
}

.icon_favorite_aside {
    border-radius: 3px;
    padding: 1px;
    background: linear-gradient(120deg, #433199, #534a9a, #758799);
}

.icons_aside {
    font-size: 21pt;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box_lista_parte03 {
    height: 140px;
    overflow-y:scroll;
}

::-webkit-scrollbar-track {
    background-color: #181818;
}
::-webkit-scrollbar {
    width: 10px;
    background: #181818;
}
::-webkit-scrollbar-thumb {
    background-color: #505050;
}

.box_lista_parte03 ul li {
    padding: 0px 0px 5px 0px;
}

.box_lista_parte03 ul li a {
    color: grey;
    font-weight: 300;
}

.box_lista_parte03 a:hover {
    color: white;
}

.box_download {
    margin-top: 50px;
}

.box_download ul li a{
    font-weight: 400;
}


.icon_download_aside {
    color: #aaaaaa;
    font-size: 16pt;
    border-radius: 100%;
    border: 2px solid #aaaaaa;
}

.box_imagem {
    margin-top: 10px;
    margin-left: -20px;
}

/* MAIN */

#home_principal .main {
    background: linear-gradient(to bottom, #c0243a, #911a2d, #5e111b, #250f12, #191011, #121212);
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.main .box_icon_topo {
    margin-top: 20px;
    margin-left: 10px;
}

.box_usuario_topo {
    border-radius: 20px;
    background-color: black;
    opacity: 0.9;
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
}

.box_usuario_topo:hover {
    background-color: #181818;
    cursor: pointer;
}

.box_usuario_topo .span_user {
    font-weight: 900;
}

.box_icon_topo .box_imagem_user {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 2px;
    margin-right: 5px;
}

.box_imagem_user #imagem_usuario_topo {
    border-radius: 100%;
    width: 100%;
}

.box_icon_topo .button-collapse {
    display: none;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 5px;
    color: white;
}

.box_icon_topo .button-collapse:hover {
    color: #242424;
    transition: all 0.2s ease;
}

.box_icon_topo .span_user {
    font-size: 10pt;
    color: white;
}

.box_icon_topo .icon_drop_down_user {
    color: white;
}

.main .icon_topo_main_active {
    padding: 2px;
    color: rgb(196, 196, 196);
    border-radius: 100%;
    background-color: black;
    opacity: 0.8;
}

.main .icon_topo_main {
    padding: 2px;
    color: rgb(196, 196, 196);
    border-radius: 100%;
    background-color: black;
    opacity: 0.5;
}

.main .icon_topo_main:hover {
    background-color: black;
    opacity: 0.8;
    transition: all 0.2s ease;
}

.box_master_imagem_main {
    width: 100%;
}

.box_imagem_main {
    width: 17% !important;
    margin-top: 60px;
}

.box_imagem_main #imagem_rock {
    width: 240px;
}

.box_titulo_main {
    width: 83% !important;
    margin-top: 140px;
}

.box_titulo_main .paragrafo01_playlist {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.box_titulo_main .titulo_playlist {
    color: white;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box_titulo_main .paragrafo02_playlist {
    color: white;
    font-weight: 100;
    margin-bottom: 5px;
}

.box_titulo_main .span01_playlist {
    font-weight: 600;
    color: white;
}

.box_titulo_main .span02_playlist {
    color: white;
    font-weight: 100;
}

.main .box_musicas {
    height: auto;
    margin-left: -11px;
    margin-right: -11px;
    background-color: rgb(0, 0, 0, 0.3);
}

.box_musicas .box_icon_musicas {
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
}

.box_icon_musicas .icon_box_musicas_play {
    color: #27d660;
    font-size: 35pt;
}

.box_icon_musicas .icon_box_musicas_favorite {
    color: #27d660;
    font-size: 25pt;
    margin-left: 15px;
}

.box_icon_musicas .icon_box_musicas_pontos {
    color: rgb(151, 151, 151);
    margin-left: 15px;
}
/* FOOTER */

#home_principal .footer {
    border-top: 1px solid rgb(49, 49, 49);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #181818;
    height: 10vh;
    padding: 0px 10px;
}

/* BLOCO 01 */

.bloco_footer_01 {
    height: 10vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.paragrafo_footer_left {
    width: 400px;
    grid-row: 2 / 3;
}

.paragrafo_footer_left p {
    font-size: 10pt;
    font-weight: 400;
    color: white;
}

.paragrafo_footer_01:hover {
    cursor: pointer;
    text-decoration: underline;
}

.paragrafo_footer_02 {
    color: rgb(160, 160, 160) !important;
}

.paragrafo_footer_02:hover {
    cursor: pointer;
    color: white !important;
}

.icon_footer_left {
    font-weight: 100;
    color: #a1a1a1;
}
.icon_footer_left:hover {
    cursor: pointer;
    color: white;
}

/* BLOCO 02 */

.bloco_footer_02 {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco_footer_02 span {
    color: white;
}

#progress {
    height: 10px;
    width: 500px;
    margin: 0px 10px;
}

.icon_transform {
    color: #21bb4d;
}

.icon_transform:hover {
    color: #4bfb7d;
}

.icon_previous {
    font-size: 20pt;
    color: #a1a1a1;
}

.icon_previous:hover {
    color: white;
}

.icon_play {
    font-size: 25pt;
    color: white;
}

.icon_next {
    font-size: 20pt;
    color: #a1a1a1;
}

.icon_next:hover {
    color: white;
}

.icon_repeat {
    color: #21bb4d;
}

.icon_repeat:hover {
    color: #4bfb7d;
}

.icon_progress {
    margin: 0px 2px;
}

.box_progress span {
    font-weight: 200;
}

/* BLOCO 03 */

.bloco_footer_03 {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.box_volume {
    display: flex;
    align-items: center;
}

.bloco_footer_03 .box_volume input[type=range] {
    border-radius: 5px;
    border-color: #323232;
}

.bloco_footer_03 .box_volume input[type="range" i] {
    cursor: default;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    padding: initial;
    border: initial;
    margin: 2px;
}

.bloco_footer_03 .box_volume input[type='range']::-webkit-slider-runnable-track {
    height: 4px;
    background: #f7f7f7;
    border-radius: 5px;
  }

.bloco_footer_03 .box_volume input[type='range']::-webkit-slider-thumb {
    background-color: rgb(14, 218, 109);
    border-radius: 60px;
    color: red;
}

.bloco_footer_03 .box_volume input[type=range]+.thumb {
    display: none;
}

.icons_volume {
    font-size: 15pt;
    color: #a1a1a1;
}
.icons_volume:hover {
    color: white;
}

#progress_volume {
    height: 10px;
    width: 100px;
}

/* MEDIA WIDTH */

@media screen and (max-width: 1800px){
    .box_imagem_main #imagem_rock {
        width: 200px;
    }
    .box_titulo_main {
        width: 83% !important;
        margin-top: 100px;
    }
}

@media screen and (max-width: 1470px){
    .box_imagem_main #imagem_rock {
        width: 150px;
    }
    .box_titulo_main {
        width: 83% !important;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1366px){
    .box_lista ul li a {
        font-size: 9pt;
    }
    .box_logo .imagem_logo_aside {
        width: 120px;
    }
}

@media screen and (max-width: 1210px){
    .box_imagem_main #imagem_rock {
        display: none;
    }
    .box_imagem_main {
        width: 0 !important;
    }
    .box_titulo_main {
        width: 100% !important;
    }

    .box_lista ul li a {
        font-size: 7pt;
    }

    .box_titulo_main h1{
        font-size: 30pt;
    }
}

@media screen and (max-width: 1115px){
    #home_principal .aside {
        display: none;
    }
    #home_principal .main {
        width: 100%;
    }
    .box_icon_topo .button-collapse {
        display: initial;
    }
    .box_logo_aside_mobile .imagem_logo_mobile{
        width: 150px;
    }
}

/* FIM DO MEDIA WIDTH */

/* MENU MOBILE */

.menu_mobile_aside .side-nav {
    height: 100%;
    width: 50%;
    background-color: black;
}

.menu_mobile_aside .side-nav a {
    color: white;
}

.menu_mobile_aside .side-nav .links_parte03_mobile {
    font-weight: 400;
    color: grey;
    margin-bottom: -10px;
}

.menu_mobile_aside .side-nav .links_parte03_mobile:hover {
    background-color: transparent;
}

.menu_mobile_aside .side-nav .link_parte03_first_mobile {
    margin-top: 15px;
}

.box_logo_aside_mobile .imagem_logo_mobile{
    margin: 20px 0px 20px 10px;
}
.menu_mobile_aside .box_logo_aside_mobile .link_logo_mobile {
    border: none;
}

.menu_mobile_aside .box_logo_aside_mobile .link_logo_mobile:hover {
    background-color: transparent;
}

.menu_mobile_aside .side-nav .link_favorite_mobile {
    color: white;
    margin-top: 10px;
}

.menu_mobile_aside .side-nav .link_favorite_mobile:hover {
    background-color: transparent;
    color: white;
}

.menu_mobile_aside .side-nav .link_arrow_mobile {
    margin-top: 10px;
    color: white;
}

.menu_mobile_aside .side-nav .link_arrow_mobile:hover {
    background-color: transparent;
}

.menu_mobile_aside .side-nav .box_links_especiais {
    background-color: #181818;
}

.menu_mobile_aside .side-nav a {
    background-color: transparent;
    color: #cecece;
}

.menu_mobile_aside .side-nav a:hover {
    background-color: #181818;
    color: white;
}

.menu_mobile_aside .side-nav .icon_sidenav_mobile {
    color: white;
    margin-right: 10px;
}

.menu_mobile_aside .side-nav .icon_favorite_mobile {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    color: white;
    background: linear-gradient(120deg, #433199, #534a9a, #758799);
}

.menu_mobile_aside .side-nav .icon_arrow_mobile {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    color: white;
    background: linear-gradient(120deg, #21bb4d, #4bfb7d, #5fff8c);
}

/* FIM DO MENU MOBILE */

/* INPUT RANGE MUSICA */
